{% extends "bootstrap.html.jinja2" %}
{% block head %}

{% endblock %}
{% block title %} MSTS WebApp {% endblock %}
{% block body %}
<script async defer src="/static/bundle.js"></script>
<div id="app-root-element"></div>
{% endblock%}
